<div id="<%= dom_id task %>">
  <p>Description: <%= task.description %></p>

  <p>Done:
    <%= task.done %>
  </p>
  <%
=begin%>
 <%= link_to "Toggle",  complete_task_path(task), remote: true, method: :patch %> 
<%
=end%>

  <div class='content_buttons'>
    <div class=button_link><%= link_to "Edit tasks", edit_task_path(task.id) %></div>
    <div class=button_link>
      <%= button_to "Destroy this task", task, method: :delete, data: {confirm: "Are you sure?"} %>
    </div>
  </div>

</div>
