<div id="<%= dom_id task %>">
  <p>
    <strong>Description:</strong>
    <p><%= task.description %></p>
  </p>

  <p>
    <strong>Done:</strong>
    <%= task.done %>
  </p>

  <p><%= link_to "Edit tasks", edit_task_path(task.id) %></p>
  <%= button_to "Destroy this task", task, method: :delete %>

</div>
